---
---

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="contact-form.js"></script>

        <title>Hire | Techsmiths</title>
    </head>
    <body>
        {% include header.html %}

        <div class="hero-box">
            <picture>
                <source media="(orientation: landscape) and (min-width: 961px)" srcset="images/hire-hero-1920-1280.jpg" />
                <source media="(orientation: landscape) and (min-width: 526px)" srcset="images/hire-hero-960-640.jpg" />
                <source media="(orientation: landscape)" srcset="images/hire-hero-525-350.jpg" />
                <source media="(orientation: portrait) and (min-width: 641px)" srcset="images/hire-hero-1280-1280.jpg" />
                <source media="(orientation: portrait) and (min-width: 351px)" srcset="images/hire-hero-640-640.jpg" />
                <source media="(orientation: portrait)" srcset="images/hire-hero-350-350.jpg" />
                <img src="images/hire-hero-1920-1280.jpg" style="object-position: 70% 65%;" alt="" /><!-- alt="" because this image is just for decoration -->
            </picture>
            <div class="tagline-phrase">
                <span class="tagline">Hire a Techsmith</span>
            </div>
            <div class="tagline-phrase">
                <span class="tagline-medium">Next cohort available:<br /><strong>2 September 2019</strong></span>
            </div>
        </div>

        <div class="button-row" id="homepage-apply-now-container">
            <a href="/contact" class="button button-black-on-yellow-on-black">Get in touch</a>
        </div>

        <div class="section yellow-background black-text">
            <h2>Hire world class software developers</h2>
            <p class="medium-width-text black-text">
                We have taken Softwire's 19 years of experience training graduates to be outstanding software developers and applied them to a new generation of skilled, motivated individuals wishing to break into the world of tech.
            </p>
        </div>

        <div class="section black-background white-text checkerboard-grid grid-with-gap grid-text-first">
            <h2>Techsmiths' Skillsets</h2>

            <div class="row">
                <picture>
                    <source media="(min-width: 601px)" srcset="images/lowri-emily-josh-square-600.jpg" />
                    <img src="images/lowri-emily-josh-letterbox-560-187.jpg" style="object-position: 63% center;" alt="" /><!-- alt="" because this image is just for decoration -->
                </picture>
                <div class="text black-text yellow-background">
                    <h2>Versatility</h2>
                    <p>Most businesses require staff that can understand the full lifecycle, and transition between different roles as required.  Managing a small project, setting up a CI pipeline, designing a new page, writing high quality code, system testing a product – we’d expect our technical staff to be able to do any of those, and it makes resourcing far more difficult if all of your staff are one-dimensional.  We believe in truly cross-functional teams, and that comes from a diverse skill set. All that being said, the core competency/role is still Software Engineer!</p>
                </div>
            </div>

            <div class="row">
                <picture>
                    <source media="(min-width: 601px)" srcset="images/michael-square-600.jpg" />
                    <img src="images/michael-letterbox-560-187.jpg" alt="" /><!-- alt="" because this image is just for decoration -->
                </picture>
                <div class="text black-text yellow-background">
                    <h2>Soft Skills</h2>
                    <p>Seems small, but makes a huge difference to how successful delivery team members are.  We don't just select candidates based on their potential as a developer but what other expertise they can bring to the table. That being said, we consider it an essential part of training to bring out the best in people and install some great habits.  This is all achieved by better diversity of recruitment – something we take very seriously, and have strong supporting networks to help with.</p>
                </div>
            </div>

            <div class="row">
                <picture>
                    <source media="(min-width: 601px)" srcset="images/rita-jenny-square-600.jpg" />
                    <img src="images/rita-jenny-letterbox-560-187.jpg" style="object-position: 20% center;" alt="" /><!-- alt="" because this image is just for decoration -->
                </picture>
                <div class="text black-text yellow-background">
                    <h2>Genuine Understanding</h2>
                    <p>The understanding is far more important than the ability to recall exactly how to do X or Y from the top of your head. Everyone has access to Stack Overflow, Google, etc. whilst they work, but those tools aren’t good at explaining the big picture, or why particular approaches are better than others.  The most valuable employees are the ones who understand the objectives, understand requirements that might not be explicitly listed, and can use their own judgement and experience to research the best way of implementing the detail.</p>
                </div>
            </div>
        </div>

        {% include our-recent-techsmiths.html %}

        {% include companies-weve-worked-with.html %}

        {% include get-in-touch.html content="Interested in hiring software developers from Techsmiths? Get in touch for more details." %}

        {% include footer.html %}

    </body>
</html>