
/* GENERAL */

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}
html {
    font-size: 100%;
}
body {
    margin: 0;
    background-color: #181818;
}




/* NAV BAR */
/* (mobile) */
@media (max-width: 650px), (max-height: 500px) {
    header {
        background-color: #181818;
        height: 70px;
        padding: 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        height: 100%;
        object-fit: cover;
        object-position: left top;
    }
    @media (max-width: 210px) {
        .logo {
            width: 45px;
        }
    }


    .menu-checkbox {
        display: none;
    }

    .menu-button {
        position: relative;
        margin-right: 10px;
        width: 24px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .menu-line {
        display: block;
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 3px;
        transition: all 0.5s ease;
        transform-origin: 92% center;
    }
    .menu-checkbox:checked ~ .menu-button .menu-line:nth-child(1) {
        transform: rotate(-45deg) scale(1.4);
    }
    .menu-checkbox:checked ~ .menu-button .menu-line:nth-child(2) {
        background-color: transparent;
    }
    .menu-checkbox:checked ~ .menu-button .menu-line:nth-child(3) {
        transform: rotate(45deg) scale(1.4);
    }


    nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #181818;
        z-index: -1;
    }

    nav a {
        display: block;
        padding: 10px;
        line-height: 30px;

        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        font-family: sans-serif;

        transition: margin-top 0.5s ease;
        margin-top: -50px;
    }
    .menu-checkbox:checked ~ nav a {
        margin-top: 0;
    }
}



/* NAV BAR */
/* (desktop) */
@media (min-width: 651px) and (min-height: 501px) {
    header {
        background-color: #181818;
        height: 100px;
        padding: 20px calc((100vw - 1000px) / 2);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-left: 20px;
        height: 100%;
        object-fit: cover;
        object-position: left top;
    }

    .menu-checkbox {
        display: none;
    }
    .menu-button {
        display: none;
    }


    nav {
        display: flex;
        flex-direction: row;
    }

    nav a {
        display: block;

        margin-right: 10px;
        padding: 10px 10px;

        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        font-family: sans-serif;

        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }

    nav a.selected, nav a:hover {
        border-top-color: #ffc100;
    }
}




/* HOMEPAGE - TAG LINE */
.homepage-hero-box {
    width: 100%;
    min-height: 350px;
    max-height: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;

    z-index: -2; /* TODO: Fix this, it's horrid! */
    position: relative;
}
@media (max-width: 650px), (max-height: 500px) {   /* Change height based on Nav Bar's height */
    .homepage-hero-box {
        height: calc(100vh - 70px);
    }
}
@media (min-width: 651px) and (min-height: 501px) {   /* Change height based on Nav Bar's height */
    .homepage-hero-box {
        height: calc(100vh - 100px);
    }
}
@media (min-width: 800px) {
    .homepage-hero-box {
        min-height: 44vw;
    }
}

.homepage-hero-box picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.homepage-hero-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.homepage-hero-box .tagline-phrase {
    padding: 10px 0;
    text-align: center;
    z-index: 1;
}
.homepage-hero-box span {
    display: block;
    text-align: center;

    color: white;
    font-size: calc(8vw + 10px);
    font-weight: bold;
    font-family: sans-serif;
}
.homepage-hero-box span.become-a {
    font-weight: normal;
}

/* @media (min-width: 800px) { */
@media (min-aspect-ratio: 4/3) {
    .homepage-hero-box span {
        font-size: 6.5vw;
        display: inline;
    }
}
@media (min-width: 1001px) {
    .homepage-hero-box span {
        font-size: 66px;
        display: inline;
    }
}




/* HOMEPAGE - APPLY NOW */
.apply-now-container {
    text-align: center;
    margin-top: -3vw;
    padding-bottom: 20px;
}

.apply-now-container a {
    display: inline-block;
    padding: 1.5vw 3vw;
    background-color: #ffc100;
    color: #181818;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 3vw;
}
@media (max-aspect-ratio: 4/3) {
    .apply-now-container {
        margin-top: -4vw;
    }
    .apply-now-container a {
        padding: 1.5vw 4vw;
        font-size: 5vw;
    }
}
@media (max-aspect-ratio: 1/1) {
    .apply-now-container {
        margin-top: -5vw;
    }
    .apply-now-container a {
        padding: 1.5vw 5vw;
        font-size: 6vw;
    }
}
@media (min-width: 801px) {
    .apply-now-container {
        margin-top: -24px;
    }
    .apply-now-container a {
        padding: 12px 24px;
        font-size: 24px;
    }
}




/* GRID OF IMAGES AND TEXT */
.checkerboard-grid {
    background-color: #ffc100;
    overflow: auto;
}

.checkerboard-grid .row {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 360px) {
    .checkerboard-grid .row {
        width: calc(100% - 40px);
    }
}

.checkerboard-grid picture {
    display: block;
    width: 100%;
}
.checkerboard-grid img {
    display: block;
    width: 100%;
}

.checkerboard-grid .text {
    padding: 10px;
    position: relative;
    background-color: #181818;
}

.checkerboard-grid .text h2 {
    margin: 0;
    position: absolute;
    top: calc(-8vw - 10px);

    color: white;
    font-family: sans-serif;
    font-size: 8vw;
}

.checkerboard-grid .text p {
    margin-top: 0;
    color: white;
    font-family: sans-serif;
}


