<div class="section white-background">
    <h2>Companies we've worked with</h2>

    <div class="companies-weve-worked-with">
        <picture>
            <img src="images/logo-nspcc.png" alt="NSPCC logo">
        </picture>
        <picture>
            <img src="images/logo-altran.png" alt="Altran logo">
        </picture>
        <picture>
            <img src="images/logo-squareenix.png" alt="Square Enix logo">
        </picture>
        <picture>
            <img src="images/logo-anthonynolan.png" alt="Anthony Nolan logo">
        </picture>
        <picture>
            <img src="images/logo-softwire.png" alt="Softwire logo">
        </picture>
        <picture>
            <img src="images/logo-icaew.png" alt="Institute of Chartered Accountants in England and Wales logo">
        </picture>
    </div>
</div>
