<div class="section yellow-background">
    <h2>Meet our recent Techsmiths</h2>

    <div class="picture-name-quote">
        <picture>
            <img src="images/jess-square-150.jpg" alt="Photo of Jess">
        </picture>
        <div class="name">Jess</div>
        <p class="quote">
            The best thing about the course is that it is solely focused on teaching and training us, not about how much I already knew or had done. I didn’t have any prior knowledge on programming or coding, but they saw I was smart, good at logical thinking and a fast learner and they taught me the rest through a 12 week bootcamp.
        </p>
    </div>

    <div class="picture-name-quote">
        <picture>
            <img src="images/tom-square-150.jpg" alt="Photo of Tom">
        </picture>
        <div class="name">Tom</div>
        <p class="quote">
            The teaching was done by professionals who really knew what they were talking about and were super helpful. The tasks that we were given to do were fun and challenging with a good learning curve.
        </p>
    </div>

    <div class="picture-name-quote">
        <picture>
            <img src="images/ben-square-150.jpg" alt="Photo of Ben">
        </picture>
        <div class="name">Ben</div>
        <p class="quote">
            Rather than drip-feeding you an answer, you’re encouraged to think for yourself to come up with your own ideas and improve your own skills. It’s likely that you’ll make a few mistakes along the way, but the excellent mentors help guide you towards a sensible solution. I would strongly recommend this course to anyone looking to get into the software development industry.
        </p>
    </div>
</div>
