
.medium-width-text {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;

    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}
.medium-width-block {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}
.medium-width-block-narrow-margins {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}
