
.our-team {
    width: 100%;
    max-width: 1000px;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.our-team .person {
    width: 180px;
    margin: 10px 20px;
    text-align: center;
}

.our-team .person picture {
    display: block;
    width: 100%;
}

.our-team .person picture img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

.our-team .person h3, .our-team .person p {
    margin: 10px 0;
}
