
.companies-weve-worked-with {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    picture {
        margin: 20px;
    }
    
    img {
        width: 100%;
    }
}
