
.hero-box {

    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px 26px 10px;
    position: relative;

    @media (min-aspect-ratio: 4/3) {
        min-height: 30vw;
    }
    @media (min-width: 1001px) {
        min-height: 300px;
    }
    @media (max-width: 400px) {
        min-height: 120px;
    }
    @media (max-aspect-ratio: 4/3) {
        min-height: 240px;
    }
    @media (max-aspect-ratio: 5/4) { /* Portrait */
        max-height: 100vw;
    }
    @media (max-width: 650px), (max-height: 500px) {   /* Change height based on Nav Bar's height */
        height: calc(80vh - 70px);
    }
    @media (min-width: 651px) and (min-height: 501px) {   /* Change height based on Nav Bar's height */
        height: calc(80vh - 100px);
    }

    picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: #181818;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .tagline-phrase {
        padding: 10px 0;
        text-align: center;
    }
    span {
        display: block;
        text-align: center;

        color: #ffffff;
        font-size: calc(6vw + 10px);
        font-weight: bold;
    }
    .tagline-small {
        font-size: calc(3.5vw + 6px);
    }
    .tagline-medium {
        font-size: calc(4vw + 8px);
    }
    span.become-a {
        font-weight: 300;
    }
    @media (min-aspect-ratio: 4/3) {
        span {
            font-size: 6vw;
            display: inline;
        }
        .tagline-small {
            font-size: 3.5vw;
        }
        .tagline-medium {
            font-size: 4.5vw;
        }
    }
    @media (min-width: 1001px) {
        span {
            font-size: 60px;
            display: inline;
        }
        .tagline-small {
            font-size: 1.5rem;
        }
        .tagline-medium {
            font-size: 2rem;
        }
    }
    .tagline-small, .tagline-medium {
        font-weight: normal;
        width: 80%;
        margin: auto;
    }

}
